---
export interface Props {
  title: string;
  image: string;
  tags: string[];
  slug: string;
  category?: string;
  index: number; 
}
const { title, image, tags = [], slug } = Astro.props;
  Astro.props;
---

<div
  class="group flex w-full max-w-md mx-auto flex-col overflow-hidden rounded-xl bg-gray-900 border border-none transition-all hover:scale-[1.015] drop-shadow-[4px_4px_0_#75B7E5]"
>
  <img
    src={image}
    alt={`Blog: ${title}`}
    class="h-52 p-3 w-full object-cover rounded-2xl"
  />

  <div class="flex flex-col grow p-3">
    <h3 class="text-lg font-semibold mb-2 text-white drop-shadow-[1px_1px_0_#75B7E5]">{title}</h3>

    <div class="flex flex-wrap gap-2 mb-4">
      {
        tags.map((tag) => (
          <span class="rounded-md bg-[#75B7E5]/20 text-[#5A0E27] px-2 py-0.5 text-xs font-semibold">
            {tag}
          </span>
        ))
      }
    </div>
    
    <div class="mt-auto flex justify-between gap-3">
      <a
        href={`/blog/${slug}`}
        class="w-full text-center border border-[#75B7E5] text-[#75B7E5] py-1.5 rounded-md text-sm font-semibold hover:bg-[#75B7E5] hover:text-gray-900 transition-colors"
      >
        Read
      </a>
    </div>
  </div>
</div>
